.main {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /*remove*/
  /* border: 2px solid white; */
  height: 100vh;
  overflow: auto;
}
.navigation {
  display: flex;
  margin-top: 35px;
  flex-direction: row;
  justify-content: center;
  height: 10vh;
}

.body {
  display: flex;
  flex-direction: column;
}

.resume {
  display: flex;
  margin-top: 5%;
  justify-content: center;
  /* border: 2px solid white; */
}
.firstBox {
  cursor: pointer;
  height: 5vh;
  margin: 10px;
  padding: 5px;
  /*remove*/
  /* border: 2px solid white; */
  border-radius: 50%;
  height: 35px;
  width: 180px;

}

.heading {
  margin: 20px;
}

.introParagraph {
  
  padding: 2px;
  /* border: 2px solid white; */
  border-radius: 2%;
  margin: 0 20vw;
  font-size: large;
}

.resumeImage {
  position: relative;
  right: 2.5vw;
  height: 99vh;
}

.image {
  margin-top: 80px;
  display: flex;
  align-self: center;
  /* border: 2px solid white; */
  border-radius: 2%;
}

.closeButtonResume {
  z-index: 1;
  position: relative;
  left: 2.5vw;
  height: 5vh;
  width: 5vw;
}

.projects {
  display: flex;
  flex-direction: column;
  height: 99vh;
  margin: auto;
  /* border: 2px solid white; */
}

.closeButtonProject {
  position: relative;
  top: 10px;
  left: 10px;
  height: 5vh;
  width: 5vw;
}

.projectList {
  display: flex;
}

.projectListItems {
display: flex;
flex-direction: column;
}

.iframePomodoroSite {
  height: 45vh;
  width: 44vw;
}

.iframeCalculatorSite {
  height: 90vh;
  width: 44vw;
}

.certificates {
    /*remove*/
    border: 2px solid white;
    height: 99vh;
}

@media screen and (min-width:750px){
  .resumeImage {
    width: auto
  }
}

@media only screen and (max-width: 750px){
  .navigation {
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    justify-content: center;
    height: 15vh;
  }
  .firstBox {
    /*remove*/
    border: 2px solid white;
  
  }

  .resume {
    display: flex;
    margin-top: 15%;
    justify-content: center;
    /* border: 2px solid white; */
  }

  .projects {
    display: flex;
    flex-direction: column;
    height: auto;
    margin: auto;
    /* border: 2px solid white; */
  }

  .projectList {
    display: flex;
    flex-direction: column;
  }

  .iframePomodoroSite {
    height: auto;
    width: 80vw;
  }
  
  .iframeCalculatorSite {
    width: 80vw;
  }

}