.main {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /*remove*/
  border: 2px solid white;
  height: 100vh;
}
.navigation {
  display: flex;
  justify-content: center;
  height: 20vh;
}
.body {
  height: 79vh;
}

.resume {
  display: flex;
  justify-content: center;
  margin:15px;
  height: 77vh;
  /*remove*/
  border: 2px solid white;
}
.firstBox {
  height: 5vh;
  margin: 10px;
  padding: 5px;
  /*remove*/
  border: 2px solid white;
  border-radius: 50%;
  height: 35px;
  width: 180px;

}

.heading { 
  margin: 20px;
}

.introParagraph {
  padding: 2px;
  border: 2px solid white;
  border-radius: 2%;
  margin: 0 20vw;
  font-size: large;
}

.image {
  border: 2px solid white;
  border-radius: 2%;
}